@import 'tailwindcss';

:root {
  /* light theme (default) */

  --color-bg: #f2f2f2;
  --color-bg-light: #ffffffff;
  --color-text: #616161;
  --color-border: #b3b3b3;

  /* dark theme  */

  /* Line-height & Spacing */
  --lh-tight: 1.1; /* 数字 / Score */
  --lh-normal: 1.4; /* UI 文本 */
  --lh-loose: 1.6; /* 描述性文本 */

  --font-ui: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  font-family: var(--font-mono);
  line-height: var(--lh-normal);

  /* color-scheme: light dark; */
  color: var(--color-text);
  background-color: var(--color-bg);
  border-color: var(--color-border);

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

/* body {
  background-color: #b3b3b3;
  margin: 15px;
} */

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: #747bff;
  } */
/*button {
    background-color: #f9f9f9;
  }
} */
